{% extends "Parkapp/base.html" %}
{% block content %}
    <form method="GET" action=".">
        <label for="choice">Choose Filter</label>
        </br>
            <select id="choice" class="form-control" name="choice">
              <option selected>Choose...</option>
              {% for op in filters %}
              <option value="{{ op }}">{{ op }}</option>
              {% endfor %}
            </select>
        </br>
        <button type="submit" class="btn btn-primary">Search</button>
        </br>
    </form>
</br>
        {% for i in parks %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ i.parkimg.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ i.Name }}</a>
              <small class="text-muted"> </small>
            </div>
            <h2><a class="article-title" href="#"> </a></h2>
            <p class="article-content"></p>
          </div>
        </article>
        {% endfor %}


{% endblock %}