{% extends "Parkapp/base.html" %}
{% block content %}
    <form method="GET" action=".">
        </br>
            <select id="choice" class="form-control" name="choice" hidden="true">
              <option selected>Choose...</option>
            </select>

        </br>
    </form>
</br>
         {% for i in parks %}
        <article class="media content-section">
          <br>
            <row>
                <img class="image" style='position=absolute' src="/media/default3.jpg">
            </row>
            <br>
          <div class="media-body">
            <div class="article-metadata">
                <h1 style="text-align:center;margin-top: 53%;">{{ i.Name }}<h1>
                <br>
                <h3>Surface : {{i.surface}}</h3>
                <br>
                <h3>Shadowing : {{i.shadowing}}</h3>
                <br>
                <h3>Swing : {{i.Swing}}</h3>
                <br>
                <h3>slid : {{i.slid}}</h3>
                <br>
                <h3>carrousel : {{i.carrousel}}</h3>
                <br>
                <h3>omega : {{i.omega}}</h3>
                <br>
              <small class="text-muted"> </small>
            </div>
            <h2><a class="article-title" href="#"> </a></h2>
            <p class="article-content"></p>
          </div>
        </article>
        {% endfor %}


{% endblock %}